TELEGRAM_BOT_TOKEN=
CHARVASTAMY_APP_URL=http://localhost:3000
CHARVASTAMY_PROGRAM_ID=FCFnNNwPf2Ej1Eub1k4mctfdXvcoWZNRZ81FgyBh6Yjc
SOLANA_NETWORK=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_SOLANA_NETWORK=devnet
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
CHARVASTAMY_APY=24.5%
